langchain
langgraph
langchain-community
langchain-fireworks
langchain-openai
openai
fastapi
pydantic-settings
s3fs
aiofiles
duckdb
duckdb-engine
polars
pyarrow
pydantic
pyjwt[crypto]
python-multipart
authlib
itsdangerous
sqlalchemy
openai